/* * {
    outline: 2px dotted green;
} */

body {
    background-color: whitesmoke;
}

.row {
    /* flex layout */
    display: flex
}

/* MENU */

.menu {
    /* to give space around each child element inside the parent that has flex display  */
    justify-content:space-around;

    background-color: #92b2ba;
    color: white;
}

.menu-item {
    padding: 5px;
    font-size: 0.9em;
    font-family: 'DM Sans';
}

/* BANNER */

.banner {
    height: 60vh;
    background-image: url(./images/banner.png);
    background-size: cover;
    /* display:flex; */
    justify-content:flex-end;
    align-items:center

}

.heading {
    /* to override display:flex as styled for row selector */
    display: block;
    margin: 0 20px;
}

.heading h1 {
    color: #92b2ba;
    font-size: 50px;
    /* margin: to reduce gap between heading.h1 and heading.p */
    margin: 5px;
    text-shadow: 1px 2px 2px white;
}

.heading p {
    background-color: white;
    color: #f0a8bb;
    padding: 5px;
    font-weight: 900;
    /* margin-left: to make heading.p start slightly to the right of heading.h1 */
    margin-left: 40px;
}

/* CARDS */

.cards {
    justify-content: space-around;
    /* flex-wrap: to move cards to multiple lines */
    flex-wrap: wrap;
}

.card {
    width: 30%;
    min-width: 150px;

    /* margin top and botton: to add gaps between the cards */
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 2px 2px rgb(186, 185, 185);
}

img {
    /* to fit img inside each card with width spanning all across the width of it's parent container '.card' */
    width: 100%;
    

}

.desc {
    /* separating title and price since desc is of flex layout */
    justify-content:space-between;

    /* adding padding to the left and right side of the title and price */
    padding-left: 10px;
    padding-right: 10px;

    font-size: 0.9em;


}

.desc .title {
    color: #85a5ad;
    font-weight: 900;

    /* reducing the gap between the img and title */
    margin-top: 10px;
}

.desc .price{
    background-color: #f0a8bb;
    color: white;

    /* reducing the gap between the img and title */
    margin-top: 10px;
    
    padding: 2px;
}

.tags {
    /* to make the tags inside it start from left side */
    justify-content: flex-start;

    font-size: 20%;
    margin-top: 5px;
    padding-bottom: 10px;

}

.tag {
    background-color: #eeeeee;
    color: #777777;

    /* add gaps between tags since justify-content: flex-start in .tags adds no space between each tag */
    margin: 5px
    
}

/* FOOTER */

.footer {
    justify-content: center;
    background-color: #eeeeee;

}

.social, .service, .info {
    /* add margin to left and right side of each flex item since .footer has justify-content:center to have these 3 child items (social, service, info) at the center of the div */
    margin: 0 50px;
    width: 13%;
   
}

.footer h4 {
    color: #85a5ad;
}

.footer p {
    color: #777777;
    font-size: 0.5em;
}

.social {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social p {
    color: #f0a8bb;
    font-size: 0.5em;
}

.social img {
    width: 50%;
}

.social .icons {
    justify-content: center;
    margin: 0 40%
}

/* .service p, .info p {
    margin: 10% 0
} */

